<!--投稿画面と編集画面のrender-->
<div class="nested-fields mb-3 p-3 border rounded">
  <div class="form-group">
    <h5><%= f.label :image, "写真" %></h5>
    <%= f.file_field :image, class: 'form-control-file' %>
  </div>

  <div class="form-group">
    <h5><%= f.label :description, "説明" %></h5>
    <%= f.text_area :description, class: 'form-control', rows: 6 %>
  </div>

  <div class="form-group text-right">
    <%= link_to 'レポート削除', '#', class: 'btn btn-danger remove_fields' %>
    <%= f.hidden_field :_destroy %>
  </div>
</div>
