<h2>投稿詳細</h2>
<p><%= link_to @post.user.name, user_path(@post.user.id) %></p>
<div class="row">
  <%= render "layouts/followbtn", user: @post.user, options: { class: "" } %>
</div>
<p><%= image_tag @post.main_image, size: "200x200" %></p>
<p><%= @post.itinerary %></p>
<p><%= @post.caption %></p>
<p><strong>タグ:</strong>
  <% @post.tags.each do |tag| %>
    <%= link_to "##{tag.name}", tag_path(tag.name) %>
  <% end %>
</p>

<ul>
  <% @post.images.each do |image| %>
      <%= image_tag image.image, height: 300, width: 300 if image.image.attached? %>
      <p><%= image.description %></p>
  <% end %>
</ul>

<%= render partial: 'layouts/nice', locals: { post: @post } %><br>
 
<!-- コメントフォーム -->
<%= render partial: 'public/comments/comments_form', locals: { post: @post } %>

<h3>コメント一覧</h3>
<% if @post.comments.any? %>
  <% @post.comments.each do |comment| %>
    <div>
      <strong><%= comment.user.name %>:</strong>
      <%= comment.content %>
      <% if comment.user == current_user %>
        <%= link_to '削除', post_comment_path(@post, comment), method: :delete %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>まだコメントがありません。</p>
<% end %>


<%= link_to 'Back', params[:referrer] || user_path(@post.user) %>
